extends ../layouts/default

mixin featured(post)
	.featured(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		if post.image.exists
			img(src=post._.image.fit(auto,auto)).img-fluid
		h2(class='headline'): a(href='/post/' + post.slug)= post.title
		//- p!= post.content.brief
		p.lead.text Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.author
				| by #{post.author.name.first}

mixin post(post)
	.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		if post.image.exists
			img(src=post._.image.fit(355,125)).img.pull-left
		h2: a(href='/post/' + post.slug)= post.title
		//- p!= post.content.brief
		p.lead.text-muted Posted 
			if post.publishedDate
				| on #{post._.publishedDate.format('MMMM Do, YYYY')} 
			if post.author
				| by #{post.author.name.first}
		//- if post.content.extended
		//- 	p.read-more: a(href='/post/' + post.slug) Read more...

block content
	.container: .row
		.col-sm-8.col-md-9
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					.blog
						each post in data.posts.results
							if post.author.name.last == 'headline'
								+featured(post)
					
						each post in data.posts.results
							if post.author.name.last != 'headline' && post.author.name.last != 'mostShared'
								+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
		
		//- if data.categories.length
		//- 	.col-sm-4.col-md-3
		//- 		.list-group(style='margin-top: 70px;')
		//- 			a(href='/', class=!data.category ? 'active' : false).list-group-item All Categories
		//- 			each cat in data.categories
		//- 				a(href='/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false).list-group-item= cat.name
