extends ../layouts/default

block content	
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			if !data.post
				h2 Invalid Post.
			else
				title= title || data.post.title
				header
					h1= data.post.title
					h5 Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.postedby
							| by #{data.post.postedby}
				.news
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
